/* .bg-c-blue {    
    background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
 }

 .bg-c-green {
    
    background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(9,121,67,1) 0%, rgba(0,255,196,1) 100%);
 }

 .bg-c-roxo {   
    
    background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(130,87,229,1) 0%, rgba(208,174,255,1) 100%);
 } */